@model IEnumerable<BusTicketWebApp.Models.MemberHistoryList>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_LeftMenu")


<br />
<nav>
    @{
        string pageName = Path.GetFileName(Request.Path);
        if (pageName.ToLower().IndexOf("search") >= 0)
        {
            <a href="/Member/Search" style="pointer-events: none;  cursor: default;">Member Search |</a>
        }
        else
        {
            <a href="/Member/Search">Member Search |</a>
        }

        if (pageName.ToLower().IndexOf("searchresult") >= 0)
        {
            <a href="/Member/SearchResult" style="pointer-events: none;  cursor: default;">Search Results |</a>
        }
        else
        {
            <a href="/Member/SearchResult">Search Results |</a>
        }

        if (pageName.ToLower().IndexOf("memberhistory") >= 0)
        {
            <a href="/Member/MemberHistory/@ViewBag.UserId" style="pointer-events: none;  cursor: default;">Member History |</a>
        }
        else
        {
            <a href="/Member/MemberHistory/ViewBag.UserId">Member History |</a>
        }
    }
</nav>

<br /><br />
<div class="col-xs-10">
    <div class="row">
        <div class="col-xs-3">
            <h2>Updated History</h2>
        </div>
    </div>
    <br />
    <div class="row">
        @*<div class="col-xs-3">
                Updated On: <label style="color:#1281c9;">05-Sept-2022</label>
            </div>*@
        <div class="col-xs-3">
            <p id="date_time_today"><i class="fa fa-calendar" aria-hidden="true"></i>  @DateTime.Now.ToString("dd/MM/yyyy") (@DateTime.Now.DayOfWeek)</p>
        </div>
        <div class="col-xs-2">
            <p id="date_time_today"><i class="" aria-hidden="true"></i>User:  Admin Super</p>
        </div>
        @*<div class="col-xs-3">
                User: <label style="color:#1281c9;">Admin Super</label>
            </div>*@
    </div>

    <div class="row">
        <div class="col-xs-3">
            <h3 style="color:#0f49a0;">Member History</h3>
        </div>
        <table class="table" id="search_result_table">
            <thead style="background-color:beige;">
                <tr>
                    <th scope="col">SL</th>
                    <th scope="col" style="color:#004ba6;">Registration Date</th>
                    <th scope="col" style="color:#004ba6;">Updated Date</th>
                    <th scope="col" style="color:#004ba6;">First Name</th>
                    <th scope="col" style="color:#004ba6;">Last Name</th>
                    <th scope="col" style="color:#004ba6;">Telephone</th>
                    <th scope="col" style="color:#004ba6;">Email</th>
                    <th scope="col" style="color:#004ba6;">Status</th>
                </tr>
            </thead>
            <tbody>
                @{

                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@Convert.ToDateTime(item.CreateDate)</td>
                            <td>@Convert.ToDateTime(item.UpdateDate)</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            @{
                                string strStatus = "";
                                if (item.Status == 2)
                                {
                                    strStatus = "Stopped (Inactive)";
                                }
                                else if (item.Status == 1)
                                {
                                    if (count == 1)
                                    {
                                        strStatus = "Enabled (Active)";
                                    }
                                    else
                                    {
                                        strStatus = "Enabled (Inactive)";
                                    }
                                }

                                //if (Convert.ToInt32(item.Status) == 1)
                                //{
                                //    strStatus = "Enabled";
                                //}
                                //else if (Convert.ToInt32(item.Status) == 1)
                                //{
                                //    strStatus = "Stopped";
                                //}
                                <td>@strStatus</td>
                            }
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
        <hr />
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search_result_table').DataTable({
                //pagingType: 'full_numbers',
                pagingType: 'input',
                //dom: '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
                dom: 'lifrtip',
                //pageLength: 5,
                language: {
                    oPaginate: {
                        sNext: '<i class="fa fa-forward"></i>',
                        sPrevious: '<i class="fa fa-backward"></i>',
                        sFirst: '<i class="fa fa-step-backward"></i>',
                        sLast: '<i class="fa fa-step-forward"></i>'
                    }
                }
            });


            $('#select_all_check_box').on('click', function () {
                var check_all_value = $('#select_all_check_box').is(':checked');
                if (check_all_value) {
                    $('#search_result_table input:checkbox').prop('checked', check_all_value);
                }
                else {
                    $('#search_result_table input:checkbox').prop('checked', check_all_value);
                }
            });


            $('#search_result_table').on('click', '.o_details', function () {

                var id = $(this).data('id');
                var url = $(this).data('url') + '/' + id;
                console.log(url);
                $.get(url, function (data) {
                    $('#order_details_modal_body').html(data);
                    $('#order_details_modal').modal('show');
                });
            })



        });
    </script>
    <script src="https://cdn.datatables.net/plug-ins/1.12.1/pagination/input.js"></script>
}