@model IEnumerable<BusTicketWebApp.Models.MemberList>

@{
    ViewBag.Title = "Member List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_LeftMenu")

<style>
    #orderHistory {
        border: 1px solid #000;
        padding: 5px 8px 5px 8px;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        display: block;
    }

    #orderNoHistory {
        padding: 5px 8px 5px 8px;
        text-decoration: none;
        text-align: center;
        display: block;
    }
</style>

<div class="col-xs-10">
    <div class="row">
        <div class="col-xs-3 search_result_nav_div">
            <h4>Search Results</h4>
        </div>
        <div class="col-xs-offset-6 col-xs-2 date_time_today_div">
            <p id="date_time_today"><i class="fa fa-calendar" aria-hidden="true"></i>  @DateTime.Now.ToString("dd/MM/yyyy") (@DateTime.Now.DayOfWeek)</p>
        </div>
    </div>

    <div class="row">
        <div class="search_table">
            <input type="checkbox" id="select_all_check_box" /> Select All
            <table class="table table-bordered" id="search_result_table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">#</th>
                        <th scope="col">Member Id</th>
                        <th scope="col">Registration Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Total Purchase</th>
                        <th scope="col">Member History</th>
                        <th scope="col">Member Details</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (var x in Model)
                        {
                            <tr>
                                <td><input type="checkbox" id="single_checkbox_@x.Id" value="@x.Id" name="ck_change" data-status="@x.Id" /></td>
                                <td>@count</td>
                                <td><a href="javascript:void();">@x.Id</a></td>
                                @*<td>@x.CreateDate</td>*@
                                <td>@Convert.ToDateTime(x.CreateDate).ToString("dddd, dd MMMM yyyy")</td>
                                <td>@x.FirstName @x.LastName</td>
                                <td><a href="javascript:void()">@x.Email</a><a href="mailto: @x.Email" style="display:block;padding:5px"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></td>
                                <td>@x.PhoneNumber</td>
                                @{
                                    string memberStatus = "";
                                    if (x.Status == 1)
                                    {
                                        memberStatus = "Enabled";
                                    }
                                    else
                                    {
                                        memberStatus = "Stopped";
                                    }
                                }
                                <td style="color:green;">@memberStatus</td>
                                <td>@x.TotalPurchase</td>
                                <td><a id="orderHistory" href="@Url.Action("MemberHistory", "Member", new {Id = x.Id })" target="_blank">Updated</a></td>
                                <td><a href="javascript:void(0);" class="o_details" data-id="@x.Id" data-url='@Url.Action("MemberDetails","Member")'>Details</a></td>
                            </tr>
                            count++;
                        }
                    }

                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 status_chang_div">
            <div class="col-xs-12">
                <p style="font-weight:bold">Change Status</p>
            </div>
            <div class="col-xs-3">

                <select class="form-control" id="status_change_sl">
                    <option value="">Select Status</option>
                    @*@foreach (var item in ViewBag.Status)
                        {
                            <option value="@item.Id">@item.statusName</option>
                        }*@
                    <option value="1">Enabled</option>
                    <option value="2">Stopped</option>
                </select>
            </div>
            <div class="col-xs-2">
                <button id="status_change_btn" class="btn btn-info">change</button>
            </div>
            @*<div class="col-lg-offset-5 col-xs-1">
                    <a href="/Orders/GenerateSearchPdf?OrderFromDate=@ViewBag.OrderFromDate&OrderToDate=@ViewBag.OrderToDate&OrderNo=@ViewBag.OrderNo&Type=@ViewBag.Type&GmoOrderNo=@ViewBag.GmoOrderNo&PaymentMethod=@ViewBag.PaymentMethod&LastName=@ViewBag.LastName&FirstName=@ViewBag.FirstName&Status=@ViewBag.StatusId&Telephone=@ViewBag.Telephone&Email=@ViewBag.Email" id="status_change_btn" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> Print PDF</a>
                </div>
                <div class="col-xs-1">
                    <a href="/Orders/GenerateSearchCsv?OrderFromDate=@ViewBag.OrderFromDate&OrderToDate=@ViewBag.OrderToDate&OrderNo=@ViewBag.OrderNo&Type=@ViewBag.Type&GmoOrderNo=@ViewBag.GmoOrderNo&PaymentMethod=@ViewBag.PaymentMethod&LastName=@ViewBag.LastName&FirstName=@ViewBag.FirstName&Status=@ViewBag.StatusId&Telephone=@ViewBag.Telephone&Email=@ViewBag.Email" id="status_change_btn" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> Print CSV </a>
                </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-7">
            <div class="modal fade" id="order_details_modal" role="dialog">
                @*</div>*@
                <!-- The modal -->
                @*<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">*@
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalLabel">Member Details</h4>
                        </div>
                        <div class="modal-body" id="order_details_modal_body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var selected_rows = [];
            //$('#search_result_table').dataTable();
            $('#search_result_table').DataTable({
                //pagingType: 'full_numbers',
                pagingType: 'input',
                //dom: '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
                dom: 'lifrtip',
                //pageLength: 5,
                language: {
                    oPaginate: {
                        sNext: '<i class="fa fa-forward"></i>',
                        sPrevious: '<i class="fa fa-backward"></i>',
                        sFirst: '<i class="fa fa-step-backward"></i>',
                        sLast: '<i class="fa fa-step-forward"></i>'
                    }
                }
            });

            $('#select_all_check_box').on('click', function () {
                var check_all_value = $('#select_all_check_box').is(':checked');
                if (check_all_value) {
                    $('#search_result_table input:checkbox').prop('checked', check_all_value);
                }
                else {
                    $('#search_result_table input:checkbox').prop('checked', check_all_value);
                }
            });


            $('#search_result_table').on('click', '.o_details', function () {

                var id = $(this).data('id');
                var url = $(this).data('url') + '/' + id;
                console.log(url);
                $.get(url, function (data) {
                    $('#order_details_modal_body').html(data);
                    $('#order_details_modal').modal('show');
                });
            });

            function ChangeOrderStatus(selectedOrderAsString, valueOfSelect) {
                $.confirm({
                    title: 'Confirm!',
                    content: 'Change Status?',
                    buttons: {
                        confirm: function () {

                        //if (selected_rows.length > 0) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("AlterOrderStatus", "Orders")',
                                data: {
                                    orderdata: selectedOrderAsString,
                                    statusId : valueOfSelect
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (data.Status == 'ok') {

                                        $.alert({
                                            title: 'Success!!!',
                                            content: data.Message,
                                        });
                                        location.reload(true);
                                    }
                                    else {
                                        $.alert({
                                            title: 'Failed!!!',
                                            content: data.Message,
                                        });
                                        location.reload(true);
                                    }
                                },
                                complete: {
                                }
                            });
                        },
                        cancel: function () {
                            //$.alert('Canceled!');
                        },
                    }
                });
            }

            $('#status_change_btn').on('click', function () {
                selected_rows = [];
                let selectedOrderAsString = '';

                $("#search_result_table tbody tr td input:checkbox[name=ck_change]:checked").each(function () {
                    selected_rows.push($(this).val());
                });

                var valueOfSelect = $('#status_change_sl').val();
                if (valueOfSelect == null || valueOfSelect == "") {
                    alert("Select Status");
                    return false;
                    modal.dis
                }
                else if (selected_rows.length <= 0) {
                    alert("Select Order");
                    return false;
                }
                else if (valueOfSelect == "5") {
                    selected_rows = [];
                    $("#search_result_table tbody tr td input:checkbox[name=ck_change]:checked").each(function () {
                        var elementVal = $(this).attr('data-status');

                        if (elementVal == "1" || elementVal == "2") {
                            selected_rows.push($(this).val());
                            selectedOrderAsString += $(this).val() + ",";
                        }
                        else {
                            $(this).prop('checked', false);
                        }

                    });
                }
                else {
                    selected_rows = [];
                    $("#search_result_table tbody tr td input:checkbox[name=ck_change]:checked").each(function () {
                        selected_rows.push($(this).val());
                        selectedOrderAsString += $(this).val() + ",";
                    });
                }
                ChangeOrderStatus(selectedOrderAsString, valueOfSelect);

            });

        });
    </script>

    <script src="https://cdn.datatables.net/plug-ins/1.12.1/pagination/input.js"></script>
}