@model BusTicketWebApp.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Order Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_LeftMenu")

<style>
    .page-navigation {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<br />
<nav>
    @{
        string pageName = Path.GetFileName(Request.Path);
        <a href="/Orders" class="page-navigation"><span class="glyphicon glyphicon-home"></span> Top Page</a>
        <span class="glyphicon glyphicon-forward"></span>
        if (pageName.ToLower().IndexOf("search") >= 0)
        {
            <a href="/Orders/Search" style="pointer-events: none;  cursor: default;" class="page-navigation">Order Search</a>
        }
        else
        {
            <a href="/Orders/Search" class="page-navigation">Member Search |</a>
        }
    }
</nav>


<div class="col-xs-10">
    <div class="order-search">
        <br />
        <br />
        <div class="row">
            <form action="/Orders/SearchResult" method="post">
                <div class="col-xs-6">
                    <p>Date of Boarding</p>
                    <div class="form-group col-xs-12">
                        @*<label for="b_from_to_date" style="font-weight: normal;">From - To</label>*@
                        <input type="date" class="form-control" id="b_from_to_date" name="b_from_to_date" placeholder="">
                    </div>

                    <p>Date of Boarding</p>
                    <div class="form-group col-xs-6">
                        <label for="b_fromDate" style="font-weight: normal;">From</label>
                        <input type="date" class="form-control" id="b_fromDate" name="b_fromDate" placeholder="">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="b_toDate" style="font-weight: normal;">To</label>
                        <input type="date" class="form-control" id="b_toDate" name="b_toDate" placeholder="">
                    </div>

                    <p>Order No.</p>
                    <div class="form-group col-xs-12">
                        <input type="text" class="form-control" id="order_no" name="order_no" placeholder="order no.">
                    </div>
                    <p>GMO Order No.</p>
                    <div class="form-group col-xs-12">
                        <input type="text" class="form-control" id="gmo_order_no" name="gmo_order_no" placeholder="GMO order no.">
                    </div>
                    <p>Search by Routes</p>
                    <div class="form-group col-xs-12">

                        <select class="form-control" name="o_routes" id="o_routes">
                            <option id="order_routes0" value="">Select Route</option>
                            <option id="order_routes1" value="1">Nagasaki city sightseeing 1-day ticket</option>
                        </select>
                    </div>

                    <p>Flight</p>
                    <div class="form-group col-xs-12">
                        <select class="form-control" name="order_flight" id="order_flight">
                            <option id="flight0" value="">Select Flight</option>
                            <option id="flight1" value="1">No bus service specified</option>
                        </select>
                    </div>
                    @*<p>Boarding place/ Demounting Place</p>
                        <div class="form-group col-xs-12">

                            <select class="form-control" name="boarding_place" id="boarding_place">
                                <option id="b_place0" value="">Select Place</option>
                                <option id="b_place1" value="place1">Place-1</option>
                                <option id="b_place2" value="place2">Place-2</option>
                                <option id="b_place3" value="place3">Place-3</option>
                                <option id="b_place4" value="place4">Place-4</option>
                                <option id="b_place5" value="place5">Place-5</option>
                            </select>
                        </div>*@
                    <p>Status</p>
                    <div class="form-group col-xs-12">

                        <div class="checkbox" id="order_status" style="padding-left:11px;">
                            <input type="checkbox" id="checkAll" />Check All:&nbsp;&nbsp;&nbsp;
                            @{
                                int indexCount = 1;
                                foreach (var item in Model.TicketStatus)
                                {
                                    if (item.statusName.ToLower() != "expired")
                                    {
                                        <label>
                                            &nbsp;&nbsp;<input type="checkbox" class="memberstatus" name="status" id="status_@indexCount" value="@item.Id">
                                            @item.statusName
                                        </label>
                                        indexCount++;
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <p>Order Date</p>
                    <div class="form-group col-xs-12">
                        @*<label for="o_fromDate" style="font-weight: normal;">From - To</label>*@
                        <input type="date" class="form-control" id="o_From_To_Date" name="o_From_To_Date" placeholder="">
                    </div>

                    <p>Order Date</p>
                    <div class="form-group col-xs-6">
                        <label for="o_fromDate" style="font-weight: normal;">From</label>
                        <input type="date" class="form-control" id="o_fromDate" name="o_fromDate" placeholder="">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="o_toDate" style="font-weight: normal;">From</label>
                        <input type="date" class="form-control" id="o_toDate" name="o_toDate" placeholder="">
                    </div>

                    <p>Payment Method</p>
                    <div class="form-group col-xs-12">
                        <select class="form-control col-xs-12" name="payment_method" id="payment_method">
                            <option id="paymentMethod_0" value="">Select PaymentMethod</option>
                            @{
                                int index = 1;
                                foreach (var item in Model.PaymentMethods)
                                {
                                    <option id="paymentMethod_@index" value="@item.Id">@item.PaymentMethodName</option>
                                    index++;
                                }
                            }
                        </select>
                    </div>
                    <!--blocked by sudipto on 11Sept2022-->
                    <p>Member Id</p>
                    <div class="form-group col-xs-12">
                        <input type="text" class="form-control" id="member_id" name="member_id" placeholder="Member ID">
                    </div>

                    <p>Last Name / First Name</p>

                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                    </div>

                    <p>Telephone / Email</p>

                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Telephone">
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <p>Type</p>
                    <div class="form-group col-xs-12">

                        <div class="checkbox" id="order_type">
                            @foreach (var item in Model.TicketTypes)
                            {
                                <label>
                                    <input type="checkbox" name="type" value="@item.Id" id="type @item.Id">
                                    @item.TypeName
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" style="margin-top:30px">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-1">
                            <button class="btn  btn-warning" style="width:100%;">search</button>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn" onclick="ClearSearchBox();" type="button" style="width:100%;background-color:black;color:white">clear</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $('#checkAll').click(function () {
            var check_all_value = $('#checkAll').is(':checked');
            if (check_all_value) {
                $('#order_status input:checkbox').prop('checked', check_all_value);
            }
            else {
                $('#order_status input:checkbox').prop('checked', check_all_value);
            }
        });

        function ClearSearchBox() {

            //date field clear
            ClearInputField("b_fromDate");
            ClearInputField("b_toDate");
            ClearInputField("o_fromDate");
            ClearInputField("o_toDate");

            ClearInputField("order_no");
            ClearInputField("gmo_order_no");
            ClearInputField("member_id");
            ClearInputField("last_name");
            ClearInputField("first_name");
            ClearInputField("telephone");
            ClearInputField("email");

            //uncheck order type
            ClearCheckbox("order_type", "type");

            //uncheck order status
            ClearCheckbox("order_status", "status_");

            //dropdown:routes unselect
            ClearDropdown("o_routes", "order_routes");

            //dropdown: paymentmethod clear
            ClearDropdown("payment_method", "paymentMethod_");

            //dropdown: flight clear
            ClearDropdown("order_flight", "flight");

            //dropdown: bording place clear
            ClearDropdown("boarding_place", "b_place");
        }

        function ClearInputField(inputId) {
            $("#" + inputId).val('');
        }

        function ClearCheckbox(groupId, checkId) {
            let index = 1;
            $('#' + groupId).find(':checkbox').each(function () {
                $('#' + (checkId + index)).prop("checked", false);
                index++;
            });
        }
        function ClearDropdown(selectId, optionId) {
            let index = 1;
            $('#' + selectId + ' > option').each(function () {
                $("#" + (optionId + index)).prop("selected", false);
                index++;
            });
            $("#" + (optionId + 0)).prop("selected", true);
        }
    </script>
}
